
#rojo {
    width: 150px;
    /* Ancho de 150 píxeles */
    height: 150px;
    /* Alto de 150 píxeles */
    background: red;
    /* Fondo de color rojo */
display: inline-flex;

}

#azul {
    width: 150px;
    /* Ancho de 150 píxeles */
    height: 150px;
    /* Alto de 150 píxeles */
    background: blue;
    /* Fondo de color rojo */
    display: inline-flex;
}

#verde {
    width: 150px;
    /* Ancho de 150 píxeles */
    height: 150px;
    /* Alto de 150 píxeles */
    background: green;
    /* Fondo de color rojo */
    display: inline-flex;
}