
#rojo {
    width: 150px;
    
    height: 150px;
   
    background: red;
   
display: inline-flex;

}

#azul {
    width: 150px;
    
    height: 150px;
    
    background: blue;
    
    display: inline-flex;
}

#verde {
    width: 150px;
   
    height: 150px;
    
    background: green;
   
    display: inline-flex;
}