h1, h2, h3, h4, h5, h6{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a:hover{
    color: darkcyan;
}
a{

    color: rgb(182, 97, 12);
}
formulariocontacto{
    text-align: center;
    

}
/* sjdjsdh */