h1, h2, h3, h4, h5, h6{
    font-family: Cambria;
}
a:hover{
    color: darkcyan;
}
a{

    color: rgb(182, 97, 12);
}
formulariocontacto{
    text-align: center;
    

}
a{


}
p{
    font-size: 14px;
    color: darkslategray;
}